body {
  background-color: #161513;
  color: #fff;
  font-family: Poppins, sans-serif;
}

.navbar {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 315px;
}

.navbar .profilePic {
  width: 80px;
  height: 80px;
}

.navbar .hamburger {
  display: none;
  cursor: pointer;
}

.navbar .menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar .menu li a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #222222;
    text-align: center;
  }

  .navbar .menu.showMenu {
    display: flex;
  }

  .navbar .hamburger {
    display: block;
  }
}

.hero, .technologies, .projects, .experiences, .contact {
  padding: 2rem 315px;
}

.heroTitle, .heroSubtitle, .projectsTitle, .experiencesTitle {
  text-align: center;
}
