/* Global styles */
body {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
  .hero,
  .experiences,
  .contact {
    padding: 1rem;
  }
  
  .experienceHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .date {
    align-self: flex-end;
    margin-top: 0.5rem;
  }

  .contactInfo {
    align-items: flex-start;
  }

  .heroButtons {
    flex-direction: column;
    gap: 0.5rem;
  }
}

/* Navbar styles for mobile */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbar .menu {
  display: none;
}

.navbar .hamburger {
  display: block;
}

.navbar .hamburger:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar .menu {
    display: block;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    background: #333;
    padding: 1rem;
  }
}
